{% extends 'base_layout.html' %}

{% block content %}
<!-- feeds page -->
<div class="container main">
  <div>
    <h3 style="padding-left: 20px;"> Feeds </h3>
    <div class="headline-feed">
      <a class="btn btn-primary m-1" href="{% url 'review:ask_review' %}" role="button"> Ask for a review </a>
      <a class="btn btn-primary m-1" href="{% url 'review:create_review' %}" role="button"> Create a review </a>
    </div>
  </div>

  <hr>
  <div class="container justify-content-center">
    {% for review in reviews %}
    <div class="container mt-3">
      <div class="card border-dark my-3 w-80" style="background-color: #e3f2fd;">
        <div class="card-body">
          <p> posted by <strong>{{ review.user }}</strong> <small style="float: right;"> {{ review.time_created }} </small> </p>
          <hr>
          <h4> {{ review.headline }} </h4>
          <p>
            {% for i in stars %}
              {% if i <= review.rating %}
                <i class="fa fa-star" style="color: darkblue;"></i>
              {% else %}
                <i class="fa fa-star" style="color: lightgrey;"></i>
              {% endif %}
            {% endfor %}
          </p>
          <p> {{ review.body }} </p>
          <div class="card border-dark bg-light">
            <div class="card-body">
              <p> posted by <strong>{{ review.ticket.user }}</strong> <small style="float: right;"> {{ review.ticket.time_created }} </small> </p>
              <hr>
              <div style="display: flex;">
                <img src="{{ media_url }}{{ review.ticket.image }}" alt="{{ review.ticket.title }}" class="img-fluid img-border">
                <div style="margin-left: 30px;">
                  <div style="margin-bottom: 15px;">
                    <h4> {{ review.ticket.title }} </h4>
                  </div>
                  <div>
                    <p> {{ review.ticket.description }} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <br>
    <hr>
    <br>

    {% for ticket in tickets %}
    <div class="container mt-3">
      <div class="card border-dark my-3 w-80" style="background-color: #e3f2fd;">
        <div class="card-body">
          <p> posted by <strong>{{ ticket.user }}</strong> <small style="float: right;"> {{ ticket.time_created }} </small> </p>
          <hr>
          <div style="display: flex;">
            <img src="{{ media_url }}{{ ticket.image }}" alt="{{ ticket.title }}" class="img-fluid img-border" >
            <div style="margin-left: 30px;">
              <div style="margin-bottom: 15px;">
                <h4> {{ ticket.title }} </h4>
              </div>
              <div>
                <p class="card-text"> {{ ticket.description }} </p>
              </div>
            </div>
          </div>
            <a class="btn btn-primary" href="{% url 'review:create_review_ticket' pk=ticket.id %}" role="button" style="margin-top: 20px;">Create a review</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- End of feeds page -->
{% endblock %}
