{% extends 'base_layout.html' %}

{% block content %}
<div class="container main mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-dark my-3" style="background-color: #e3f2fd;">
        <div class="card-body bg-transparent text-center">
          <h4 class="card-subtitle"> Register now: </h4>
          <a class="btn btn-primary margin-btn" href="{% url 'accounts:register' %}" role="button"> Sign up </a>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card border-dark my-3" style="background-color: #e3f2fd;">
        <div class="card-body bg-transparent">
          <h4 class="card-subtitle text-center"> Log in: </h4>
          <p class="p-message"> {{ message }} </p>

          <form method="post">
            <div class="login-inputs">
              {% csrf_token %}
              {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
              {% endfor %}
            </div>
          <button type="submit" class="btn btn-primary margin-btn"> Log in </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}