{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Home page: register and login -->
<div class="container main mt-4">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="card border-dark my-3" style="background-color: #e3f2fd;">
        <div class="card-body bg-transparent text-center">
          <h4 class="card-subtitle py-2"> Register now: </h4>
          <a class="btn btn-primary margin-btn" href="{% url 'accounts:register' %}" role="button"> Sign up </a>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card border-dark my-3" style="background-color: #e3f2fd;">
        <div class="card-body bg-transparent">
          <h4 class="card-subtitle text-center py-2"> Log in: </h4>
          <form method="post">
            {% csrf_token %}
              {{form|crispy}}
            <div>
              <button type="submit" class="btn btn-primary margin-btn"> Log in </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of home page -->
{% endblock %}
