{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container main mt-4">
  <div class="row">
    <div class="col-md-7">
      <div class="card border-dark my-3" style="background-color: #e3f2fd;">
        <div class="card-body bg-transparent ">
          <h4 class="card-subtitle text-center"> Ask for a review: </h4>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
              {{form|crispy}}
            <div style="display: flex; justify-content: space-between;">
              <button type="submit" class="btn btn-primary margin-btn"> Save </button>
              <button type="submit" class="btn btn-secondary margin-btn"> Cancel </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}