{% extends 'base_layout.html' %}

{% block content %}
<div class="container main mt-4">
    <h1> Feed </h1>
    <hr>
    <div class="container justify-content-center">
      <div class="headline_feed">
        <a class="btn btn-primary m-1" href="#" role="button"> Ask for a review </a>
        <a class="btn btn-primary m-1" href="#" role="button"> Create a review </a>
      </div>

      {% for review in reviews %}
      <div class="container mt-3">
        <div class="card border-dark my-3 w-80" style="background-color: #e3f2fd;">
          <div class="card-body">
            <p> Name: {{ review.user }} </p>
            <p> date, time: {{ review.time_created }} </p>
            <p> {{ review.headline }} - {{ review.rating }} stars </p>
            <p> {{ review.body }} </p>
            <div class="card border-dark bg-light">
              <div class="card-body">
                <p> User: {{ review.ticket.user }} </p>
                <p> {{ review.ticket.title }} </p>
                <p> {{ review.ticket.description }} </p>
                <img src="{{ media_url }}{{ review.ticket.image }}" alt="{{ review.ticket.title }}">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% for ticket in tickets %}
      <div class="container mt-3">
        <div class="card border-dark my-3 w-80" style="background-color: #e3f2fd;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"> {{ ticket.title }} </h6>
            <p> date, time: {{ ticket.time_created }} </p>
            <p class="card-text"> {{ ticket.description }} </p>
            <img src="{{ media_url }}{{ ticket.image }}" alt="{{ ticket.title }}">
            <a class="btn btn-primary" href="#" role="button">Create a review</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
</div>
{% endblock %}