{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- abo page -->
<div class="container main">
  <h3 style="padding-left: 20px;"> My Abonnement </h3>
  <hr>
  <div class="container justify-content-center">
    <form method="post">
    {% csrf_token %}
      <div class="w-80">
        <div class="card border-dark my-2" style="background-color: #e3f2fd;">
          <div class="card-body">
            <h5 class="card-title"> {{ form|crispy }} </h5>
            <button type="submit" class="btn btn-primary" name="follow" value="{{ user.id }}" style="margin: 3px"> Follow </button>
          </div>
        </div>
      </div>
    </form>

    {% include 'abo/unfollow_page.html' %}

  </div>
</div>
<!-- End of abo page -->
{% endblock %}