{% extends 'abo/abo_page.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <h4> List of followed Users: </h4>
  {% for followed_user in followed_users %}
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td> <button type="submit" class="btn btn-warning btn-sm" name="unfollow" value="{{ followed_user.followed_user.id }}" style="margin: 3px"> Unfollow </button> {{ followed_user.followed_user.username }} </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</form>

{% endblock %}