
/*  --  --  */
/* margin top under navbar */
.main {
    padding-top: 40px;
}

/*  -- login_page --  */
/*  */
.p-message {
    margin-top: 1rem;
    padding: 15px;
}

.login-inputs {
    display: flex;
    flex-direction: column;
}

.margin-btn {
    margin-top: 20px;
}

