
/*  --  --  */
/* margin top under navbar */
.main {
    padding-top: 10px;
}

/*  -- login_page | register_page --  */
/*  */
.p-message {
    margin-top: 1rem;
    padding: 15px;
}

.login-inputs {
    display: flex;
    flex-direction: column;
}

.margin-btn {
    margin-top: 20px;
}

/*  ----  feeds_page ----   */
/*  -- Feeds headline and buttons  --  */
.headline_feed {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;
}
